	<a class="item" href="http://localhost:8080/project-web-jee-bomberman/DownloadServlet">
	<b>Télécharger le jeu</b>
	</a>
	
	<a class="item" href="http://localhost:8080/project-web-jee-bomberman/UpdateAccountServlet">
		<b>Modifier mon compte</b>
	</a>	
	
	<a class="item" href="http://localhost:8080/project-web-jee-bomberman/">
		<b>Historique des parties</b>
	</a>	
	
	<a class="item" href="http://localhost:8080/project-web-jee-bomberman/RankingServlet">
		<b>Classement</b>
	</a>
		
	<!-- div class="ui accordion">
	      <div class="title item">
	      	<i class="dropdown icon"></i> Classement
	      </div>
	      <div class="content">
	  	  	<a class="item" href="http://localhost:8080/project-web-jee-bomberman/UpdateAccountServlet">
				<b>Modifier mon compte</b>
			</a>	
			
			<a class="item" href="http://localhost:8080/project-web-jee-bomberman/">
				<b>Historique des parties</b>
			</a>	
	  	  </div>	
	</div-->
	<a class="item" href="http://localhost:8080/project-web-jee-bomberman/">
		<b>Supprimer mon compte</b>
	</a>